@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+JP:wght@100&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html
{
    font-size: clamp(1rem, 0.5vw, 2rem);
}

body
{
    background-color: #111111;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    line-height: 1.618em;
    font-family: 'Noto Sans JP', 'Nanum Gothic', sans-serif;
    overflow-x: hidden;
}

main
{
    margin-top: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    padding-top: 10rem;
    padding-right: 10rem;
    padding-left: 10rem;
    padding-bottom: 10rem;
    flex: 0 0 0%;
}

.top_container
{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
}

img
{
    color: #FFFFFF;
}  

figure > *
{
    width: 100%;
    padding: 0px;
    max-width: 100%;
    height: auto;
    text-align: left;
    flex: 1 1 100%;
}


.col_container
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    flex: 0 0;

    width: 100%;
    overflow: hidden;
}

.row_container
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex: 0 0;

    width: 100%;
    overflow: hidden;
}

.third_width > *
{
    width: 30%;
    padding: 5px;
    max-width: 100%;
    height: auto;
    text-align: left;
    flex: 1 1 30%;
}

.half_width > *
{
    width: 50%;
    padding: 5px;
    max-width: 100%;
    height: auto;
    text-align: left;
    flex: 1 1 50%;
}

.full_width > *
{
    width: 100%;
    padding: 5px;
    max-width: 100%;
    height: auto;
    text-align: left;
    flex: 1 1 100%;
}

.third_width h3,
.half_width h3
{
    text-align: center;
}

.right_align
{
    text-align: right;
}

.center_align
{
    text-align: justify;
}

@media screen and (max-width: 900px) 
{
    main 
    {
      padding: 10rem 1rem;
    }

    .row_container
    {
        flex-flow: wrap;
    }

    .row_container p
    {
        text-align: left;
    }

    .row_container h3
    {
        line-height: 5rem;
    }

    .full_width > *,
    .half_width > *,
    .third_width > *
    {
        width: 100%;
        flex: 0 0 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 2000px) 
{
    .top_container
    {
        max-width: 60%;
    }    
}

hr
{
    color: #FFFFFF;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 4%;
    border-style: dotted none none;
    border-width: 7px;
}

button
{
    display: inline-block;
    padding: 0.3rem 1.9rem;
    text-transform: uppercase;
    font-family: 'Noto Sans JP', 'Nanum Gothic', sans-serif;
    letter-spacing: 0.25rem;
    word-spacing: 0.1rem;
    font-size: 0.75rem;
    color: #FFFFFF;
    background-color: #282828;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}

button:hover
{
    background-color: #F4455F;
}

header
{
    background-color: #111111;
    position: fixed;
    width: 100vw;
    z-index: 1;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 1.4rem 0rem;
}

footer
{
    background-color: #111111;
    width: 100vw;
    z-index: 1;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0.3rem 0rem;
    margin-bottom: 20px;
}

.home_container
{
    margin-bottom: 10px;
}

.footer_container,
.home_container
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex: 0 0;
}

.footer_container img
{
    flex: 0 0 auto;
    height: auto;
    padding: 0.5rem; 
    max-width: 20px;
}

.home_container img
{
    flex: 0 0 auto;
    height: auto;
    padding: 0.5rem;
    min-width: 40px;
    max-width: 40px;
}

.footer_container h3,
.home_container h1
{
    flex: 1;
    padding-top: 0;
}

.navbar
{
    flex: 0 0 100%;
    max-width: 100%;
}

.navbar div
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.navbar,
.navbar ul,
.navbar li
{
    list-style-type: none;
    padding: 0.20rem;
    margin: 0;
    display: inline-block;
}

.inline_nav_link
{
    list-style-type: none;
    display: inline-block;
    border-bottom: 1px dotted #FFFFFF;
}

.navbar a,
.inline_nav_link
{
    color: #FFFFFF;
    transition: all ease-in-out 0.3s;
}

.navbar a:hover,
.inline_nav_link:hover
{
    color: #F4455F;
}

.navbar a:link,
.navbar a:active,
.navbar a:hover,
.navbar a:visited
{
    display: block;
    overflow: hidden;
    padding: 0.1rem 0.75rem;
    font-size: 0.75rem;
    text-decoration: none;
}

#active_link
{
    /* color: #F4455F; */
    border-bottom: 1px dotted #FFFFFF;
}

@media screen and (max-width: 800px)
{
    .navbar a:link,
    .navbar a:active,
    .navbar a:hover,
    .navbar a:visited
    {
        font-size: 0.85rem;
    }
}

h1
{
    line-height: 2rem;
    font-size: 1.75rem;
    text-transform: uppercase;
    font-family: 'Noto Sans JP', 'Nanum Gothic', sans-serif;
    letter-spacing: 0.25rem;
    word-spacing: 0.5rem;
    color: #FFFFFF;
    padding: 1rem 0 0;
}

h2
{
    font-size: 1rem;
    font-family: 'Noto Sans JP', 'Nanum Gothic', sans-serif;
    letter-spacing: 0.25rem;
    word-spacing: 0.25rem;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 1rem 0 0;
}

h3
{
    font-size: 0.85rem;
    font-family: 'Noto Sans JP', 'Nanum Gothic', sans-serif;
    letter-spacing: 0.25rem;
    word-spacing: 0.25rem;
    color: #FFFFFF;
    padding: 1rem 0 0;
}

p, .list ul, .list li
{
    letter-spacing: 0.2rem;
    font-size: 0.80rem;
    /* font-size: 0.75rem; */
    color: #FFFFFF
}

.list ul, .list li
{
    list-style-type: decimal-leading-zero;
    text-align: left;
    list-style-position: inside;
}

pre
{
    letter-spacing: 0.2rem;
    font-size: 0.80rem;
    color: #FFFFFF;
    font-family: 'Noto Sans JP', 'Nanum Gothic', sans-serif;
}

figcaption
{
    letter-spacing: 0.2rem;
    font-size: 0.7rem;
    /* font-size: 0.55rem; */
    color: #8f8f8f;
    font-style: italic;
}

sup
{
    font-size: 0.5rem;
}

#home_icon
{
    width: 5%;
}

.symbol
{
    font-size: 3rem;
}

.accent_highlight
{
    color: #F4455F;
    font-weight: bold;
}

.tertiary_highlight
{
    color: #F4AC45;
    /* color: #F4455F; */
    font-weight: bold;
}

@keyframes redChangeColor
{
    0%
    {
        color: #FFFFFF;
    }
    100%
    {
        color: #F4455F;
    }
}

@keyframes yellowChangeColor
{
    0%
    {
        color: #FFFFFF;
    }
    100%
    {
        color: #F4AC45;
    }
}

@keyframes blueChangeColor
{
    0% 
    {
        color: #FFFFFF;
    }
    100% 
    {
        color: #006DAA;
    }
}

.red_timed
{
    animation: redChangeColor 3s ease-in-out forwards;
}

.yellow_timed
{
    animation: yellowChangeColor 3s ease-in-out forwards;
}

.blue_timed
{
    animation: blueChangeColor 3s ease-in-out forwards;
}

.tilt
{
    transform: rotate(30deg);
}