@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html
{
    font-size: clamp(1rem, 0.5vw, 2rem);
}

body
{
    background-color: #111111;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    line-height: 1.618em;
    font-family: 'Nanum Gothic', sans-serif;
}

main
{
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

img
{
    max-width: 50%;
    height: auto;
}

.triple_container img
{
    max-width: 30%;
    padding: 0.5rem;
}

.top_container
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 100%;    
    padding-top: 10rem;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-bottom: 10rem;
    flex: 1 0;
}

.img_container
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex: 0 0;
}

.double_container,
.triple_container,
.single_container
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex: 0 0;
}

.single_container img
{
    width: 100%;
    height: auto;
    padding: 0.5rem;
}

.double_container img,
.double_container div,
.double_container video
{
    width: 40%;
    height: auto;
    padding: 0.5rem;
}

.triple_container div
{
    width: 30%;
    height: auto;
    padding: 0.5rem;
}

.triple_container div h3
{
    text-align: center;
}

@media screen and (max-width: 768px)
{
    .single_container img,
    .double_container img,
    .double_container video,
    .triple_container img,
    .double_container div,
    .triple_container div
    {
        width: 100%;
        max-width: unset;
        margin: 0.2rem 0;
    }
}

hr
{
    color: #FFFFFF;
}

button
{
    display: inline-block;
    padding: 0.3rem 1.9rem;
    text-transform: uppercase;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 0.25rem;
    word-spacing: 0.1rem;
    font-size: 0.75rem;
    color: #FFFFFF;
    background-color: #282828;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}

button:hover
{
    background-color: #F4455F;
}

header
{
    background-color: #111111;
    position: fixed;
    width: 100vw;
    z-index: 1;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 1.4rem 0rem;
}

footer
{
    background-color: #111111;
    width: 100vw;
    z-index: 1;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0.3rem 0rem;
}

.footer_container
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex: 0 0;
}

.footer_container img
{
    flex: 0 0 auto;
    height: auto;
    padding: 0.5rem; 
    max-width: 1%;
    max-width: 20px;
}

.footer_container h3
{
    flex: 1;
}

.navbar
{
    flex: 0 0 100%;
    max-width: 100%;
}

.navbar div
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.navbar,
.navbar ul,
.navbar li
{
    list-style-type: none;
    padding: 0.20rem;
    margin: 0;
    display: inline-block;
}

.inline_nav_link
{
    list-style-type: none;
    display: inline-block;
    border-bottom: 1px solid white;
}

.navbar a,
.inline_nav_link
{
    color: #FFFFFF;
    transition: all ease-in-out 0.3s;
}

.navbar a:hover,
.inline_nav_link:hover
{
    color: #F4455F;
}

.navbar a:link,
.navbar a:active,
.navbar a:hover,
.navbar a:visited
{
    display: block;
    overflow: hidden;
    padding: 0.1rem 0.75rem;
    font-size: 0.75rem;
    text-decoration: none;
}

@media screen and (max-width: 768px)
{
    .navbar a:link,
    .navbar a:active,
    .navbar a:hover,
    .navbar a:visited
    {
        font-size: 0.85rem;
    }
}

h1
{
    line-height: 2rem;
    font-size: 1.75rem;
    text-transform: uppercase;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 0.25rem;
    word-spacing: 0.5rem;
    color: #FFFFFF;
}

h2
{
    font-size: 1rem;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 0.25rem;
    word-spacing: 0.25rem;
    color: #FFFFFF;
    text-transform: uppercase;
}

h3
{
    font-size: 0.85rem;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 0.25rem;
    word-spacing: 0.25rem;
    color: #FFFFFF;
}

p
{
    letter-spacing: 0.2rem;
    font-size: 0.75rem;
    color: #FFFFFF
}

figcaption
{
    font-size: 0.75rem;
    font-style: italic;
    max-width: 75%;
}

.accent_highlight
{
    color: #F4455F;
    font-weight: bold;
}

.tertiary_highlight
{
    color: #F4AC45;
}

@keyframes changeColor
{
    from
    {
        color: #FFFFFF;
    }
    to
    {
        color: #F4455F;
    }
}

.timed
{
    animation: changeColor 3s ease-in-out forwards;
}