@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html
{
    font-size: clamp(1rem, 0.5vw, 2rem);
}

body
{
    background-color: #111111;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    line-height: 1.618em;
    font-family: 'Nanum Gothic', sans-serif;
}

main
{
    margin-top: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    padding-top: 10rem;
    padding-right: 10rem;
    padding-left: 10rem;
    padding-bottom: 10rem;
    flex: 0 0 0%;
}

.top_container
{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
}

figure
{
    width: 100%;
    margin: 0;
}

img
{
    color: #FFFFFF;
}

.col_container
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    flex: 0 0;

    width: 100%;
    overflow: hidden;
}

.row_container
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex: 0 0;

    width: 100%;
    overflow: hidden;
}

.col_container > *,
.row_container > *
{
    padding: 5px;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.row_container img
{
    width: 100%;
    height: auto;
    max-width: 100%;
}

.row_container h3
{
    text-align: center;
}

@media screen and (max-width: 800px) 
{
    main 
    {
      padding: 10rem 1rem;
    }

    .row_container
    {
        flex-flow: wrap;
    }

    .row_container img 
    {
      width: 100%;
    }
}

hr
{
    color: #FFFFFF;
}

button
{
    display: inline-block;
    padding: 0.3rem 1.9rem;
    text-transform: uppercase;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 0.25rem;
    word-spacing: 0.1rem;
    font-size: 0.75rem;
    color: #FFFFFF;
    background-color: #282828;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}

button:hover
{
    background-color: #F4455F;
}

header
{
    background-color: #111111;
    position: fixed;
    width: 100vw;
    z-index: 1;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 1.4rem 0rem;
}

footer
{
    background-color: #111111;
    width: 100vw;
    z-index: 1;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0.3rem 0rem;
}

.home_container
{
    margin-bottom: -10px;
}

.footer_container,
.home_container
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex: 0 0;
}

.footer_container img
{
    flex: 0 0 auto;
    height: auto;
    padding: 0.5rem; 
    max-width: 20px;
}

.home_container img
{
    flex: 0 0 auto;
    height: auto;
    padding: 0.5rem;
    min-width: 40px;
    max-width: 40px;
}

.footer_container h3,
.home_container h1
{
    flex: 1;
}

.navbar
{
    flex: 0 0 100%;
    max-width: 100%;
}

.navbar div
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.navbar,
.navbar ul,
.navbar li
{
    list-style-type: none;
    padding: 0.20rem;
    margin: 0;
    display: inline-block;
}

.inline_nav_link
{
    list-style-type: none;
    display: inline-block;
    border-bottom: 1px dotted #FFFFFF;
}

.navbar a,
.inline_nav_link
{
    color: #FFFFFF;
    transition: all ease-in-out 0.3s;
}

.navbar a:hover,
.inline_nav_link:hover
{
    color: #F4455F;
}

.navbar a:link,
.navbar a:active,
.navbar a:hover,
.navbar a:visited
{
    display: block;
    overflow: hidden;
    padding: 0.1rem 0.75rem;
    font-size: 0.75rem;
    text-decoration: none;
}

#active_link
{
    /* color: #F4455F; */
    border-bottom: 1px dotted #FFFFFF;
}

@media screen and (max-width: 800px)
{
    .navbar a:link,
    .navbar a:active,
    .navbar a:hover,
    .navbar a:visited
    {
        font-size: 0.85rem;
    }
}

h1
{
    line-height: 2rem;
    font-size: 1.75rem;
    text-transform: uppercase;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 0.25rem;
    word-spacing: 0.5rem;
    color: #FFFFFF;
}

h2
{
    font-size: 1rem;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 0.25rem;
    word-spacing: 0.25rem;
    color: #FFFFFF;
    text-transform: uppercase;
}

h3
{
    font-size: 0.85rem;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 0.25rem;
    word-spacing: 0.25rem;
    color: #FFFFFF;
}

p
{
    letter-spacing: 0.2rem;
    font-size: 0.75rem;
    color: #FFFFFF
}

figcaption
{
    letter-spacing: 0.2rem;
    font-size: 0.55rem;
    color: #FFFFFF
}

sup
{
    font-size: 0.5rem;
}

#home_icon
{
    width: 5%;
}

.symbol
{
    font-size: 3rem;
}

.accent_highlight
{
    color: #F4455F;
    font-weight: bold;
}

.tertiary_highlight
{
    color: #F4AC45;
}

@keyframes redChangeColor
{
    from
    {
        color: #FFFFFF;
    }
    to
    {
        color: #F4455F;
    }
}

@keyframes yellowChangeColor
{
    from
    {
        color: #FFFFFF;
    }
    to
    {
        color: #F4AC45;
    }
}

@keyframes blueChangeColor
{
    from
    {
        color: #FFFFFF;
    }
    to
    {
        color: #006DAA;
    }
}

.red_timed
{
    animation: redChangeColor 3s ease-in-out forwards;
}

.yellow_timed
{
    animation: yellowChangeColor 3s ease-in-out forwards;
}

.blue_timed
{
    animation: blueChangeColor 3s ease-in-out forwards;
}

.tilt
{
    transform: rotate(30deg);
}